<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/new">Create new Message</a>

<div class="messages">
    {{#each messages}}
        <p class="message_text">{{this.text}}</p>
        <p class="message_text">{{this.user}}</p>
        <p class="message_text">{{this.added}}</p>
    {{/each}}
</div>