<h1>{{title}}</h1>

{{#if bookinstance_list}}
    <ul>
        {{#each bookinstance_list}}
            <li><a href="{{url}}">{{book.title}}: {{imprint}}</a> - 
                <span>{{status}}</span>
                {{#if due_back_formatted}}
                    <span>Due: {{due_back_formatted}}</span>
            {{/if}}     
            </li>
        {{/each}}
    </ul>
{{else}}
    <li>There are no book copies in this library</li>
{{/if}}